body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #3498db, #9b59b6);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 20vh;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  background-color: white;
  color: #2c3e50;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ecf0f1;
  transform: scale(1.05);
}
